/* Without box-sizing: border-box : */

.box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  background-color: lightblue;
}

/* With box-sizing: border-box : */

.box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  box-sizing: border-box;   /* Always use box-sizing: border-box; to keep elements sized as expected*/
  background-color: lightblue;
}
