/* The Unexpected Behavior (With transform, filter, or perspective) */

.parent {
  transform: scale(1);  /* This makes it a positioning parent! */
        or
  filter: invert(0);    /* This makes it a positioning parent! */
        or
  perspective: 0em;     /* This makes it a positioning parent! */
}
.child {
  position: absolute;
  top: 0;
  left: 0;
}
